<li>
	{{burger_name}}

	<button class="change-devoured btn btn-primary float-right" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}MEAL TIME!{{else}}SECONDS!{{/if}}
	</button>

	<button class="delete-burger btn btn-primary float-right" data-id="{{this.id}}">DELETE!</button>
</li>
